<div class = "container">
  <div class="wrapper">
    <form name="Login_Form" class="form-signin">
      <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
      <hr class="colorgraph"><br>

      <input type="text" class="form-control" ng-model="email" name="Username" placeholder="Username" required="" autofocus="" />
      <input type="password" class="form-control" ng-model="password" name="Password" placeholder="Password" required=""/>
      {{LoginCtrl.test}}    <a href="#register">Register</a>
      <button class="btn btn-lg btn-primary btn-block" ng-click="LoginCtrl.signin(email, password)" name="Submit" value="Login" type="Submit">Login</button>
    </form>


  </div>
</div>